input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

div.error {
    color: #a94442;
    border: 2px solid #ebccd1;
    background-color: #f2dede;
    padding: 10px;
}

div.success {
    color: #3c763d;
    border: 2px solid #d6e9c6;
    background-color: #dff0d8;
    padding: 10px;
}

#select-lang > * {
    vertical-align: middle;
}

#lang-list {
    list-style-type: none;
    overflow: hidden;
    padding-left: 0;
    margin: 0 0 0 -1px;
    display: inline-flex;
    flex-direction: row;
}

#lang-list > li {
    margin: 0 0;
    padding: 0 .5em;
    text-align: center;
}

#lang-list > li+li {
    border-left: 1px solid #ccc;
}

#lang-list > li a {
    text-decoration: none;
    color: black;
}

#lang-list > li a > * {
    vertical-align: middle;
}

#lang-list > li img {
    width: 20px;
    height: auto;
    border: 1px solid black;
    border-radius: 1px;
}

.lang-selected {
    font-weight: 700;
}

section#auth form label,
section#auth form legend {
    color: #cccccc;
}