input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

div.error {
    color: #a94442;
    border: 2px solid #ebccd1;
    background-color: #f2dede;
    padding: 10px;
}

div.success {
    color: #3c763d;
    border: 2px solid #d6e9c6;
    background-color: #dff0d8;
    padding: 10px;
}

#lang_sel_click {
    display: inline-block;
}

#lang_sel_click li img {
    width: 20px;
    height: auto;
    border-radius: 1px;
}

.icl_lang_sel_translated, .lang_sel_sel {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section#auth form label,
section#auth form legend {
    color: #cccccc;
}